<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
  <servlet>
    <servlet-name>hometask.SimpleWeb</servlet-name>
    <servlet-class>hometask.SimpleWeb</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Anya</param-value>
    </init-param>

    <init-param>
      <param-name>GET</param-name>
      <param-value>

      </param-value>
    </init-param>


    <init-param>
      <param-name>POST</param-name>
      <param-value>

      </param-value>
    </init-param>


    <init-param>
      <param-name>DELETE</param-name>
      <param-value>

      </param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>hometask.SimpleWeb</servlet-name>
    <url-pattern>/cool</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>title</param-name>
    <param-value>buttons</param-value>
  </context-param>
</web-app>
